@media only screen and (max-width: 600px) {
  .experience {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    color: black;
    text-align: center;
  }

  .experienceTitle {
    font-family: jetBrains;
    color: #008612;
    text-align: center;
    filter: drop-shadow(3px 3px 2px #ffffff);
    width: 100%;
  }
  .java {
    text-align: center;
  }

  .skillLists {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .skillLists ul {
    padding: 0;
    margin: 0;
  }

  .currentSkillsTitle {
    text-align: center;
  }

  .skillLists li {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
  }
}
