@media only screen and (min-width: 601px) {
  .footerDiv {
    color: black;
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .footerDiv {
    color: black;
    display: none;
  }
}
