@media only screen and (max-width: 600px) {
  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .links a {
    color: black;
    border-radius: 10%;
    text-decoration: underline;
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-size: larger;
    padding: 0;
  }
  .links a :hover {
    background-color: #bfacb5;
  }
}
