@media only screen and (max-width: 600px) {
  .projectsDiv {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    background-color: #4a5859;
    display: flex;
    flex-direction: column;
  }

  .projectsTitle {
    font-size: xx-large;
    text-align: center;
    margin: 0 0;
  }

  .projectImg {
    width: 70%;
    text-align: center;
  }

  .project {
    position: relative;
    overflow: visible;
    text-align: center;
    margin: 1%;
    padding-top: 12%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .projectNameAndDesc {
    background: #ffffffa0;
    color: black;
    width: 60%;
    margin: 0 auto;
    border-radius: 4px;
  }

  .projectContent {
    text-align: center;
  }

  .projectName {
    font-size: x-large;
    text-align: center;
    border-radius: 10px;
    color: black;
    margin: 2% auto;
  }

  .projectLink {
    background-color: #71e7f7;
    text-decoration: none;
    font-size: larger;
    padding: 4px;
    border-radius: 10px;
  }

  .projectDesc {
    background: #ffffffa0;
    border-radius: 4px;
    width: 90%;
    color: black;
    margin: 2% auto;
    padding-left: 2%;
    padding-right: 2%;
  }

  .catDiv {
    z-index: 1;
    padding-top: 0;
    margin-top: 0;
    justify-content: start;
    margin-bottom: 0;
  }

  .catDiv::before {
    background: #c83e4d;

    background: #c83e4d;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    position: absolute;

    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  }

  .farmDiv {
    color: black;
    z-index: 1;
  }
  .farmDiv::before {
    background: #f4b860;
    content: "";
    height: 110%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    position: absolute;

    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 75%);
  }

  .tareDiv {
    color: black;
    z-index: 1;
  }

  .tareDiv::before {
    background: #f4d6cc;
    content: "";
    height: 110%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    position: absolute;

    clip-path: polygon(0 0, 100% 25%, 100% 75%, 0 100%);
  }

  .sootDiv {
    z-index: 1;
  }

  .sootDiv::before {
    background: #c83e4d;
    content: "";
    height: 110%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    position: absolute;

    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 75%);
  }

  .copDiv {
    color: black;
    z-index: 1;
    justify-content: end;
    padding-top: 16%;
  }

  .copDiv::before {
    background: #f4b860;
    content: "";
    height: 105%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    position: absolute;

    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 100%);
  }
}
